@font-face {
    font-family: 'Arsenal';
    src: local('Arsenal Regular'), local('Arsenal-Regular'),
        url('../fonts/Arsenal-Regular.woff2') format('woff2'),
        url('../fonts/Arsenal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenal';
    src: local('Arsenal Italic'), local('Arsenal-Italic'),
        url('../fonts/Arsenal-Italic.woff2') format('woff2'),
        url('../fonts/Arsenal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenal SC';
    src: local('Arsenal SC Regular'), local('ArsenalSC-Regular'),
        url('../fonts/ArsenalSC-Regular.woff2') format('woff2'),
        url('../fonts/ArsenalSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Light'), local('Raleway-Light'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

